version: "3.3"

services:

  xswitch:
    container_name: xswitch-free
    image: ccr.ccs.tencentyun.com/xswitch/xswitch-free
    environment:
        - FREESWITCH_DOMAIN=free.xswitch.cn
    env_file: .env
    # command: ["bash"]
    # stdin_open: true
    # tty: true
    # network_mode: host
    ports:
      - "${RTP_START:-2000}-${RTP_END:-2100}:${RTP_START:-2000}-${RTP_END:-2100}/udp"
      - "${SIP_PORT:-5060}:${SIP_PORT:-5060}/udp"
      - "${SIP_PORT:-5060}:${SIP_PORT:-5060}/tcp"
      - "${SIP_PUBLIC_PORT:-5080}:${SIP_PUBLIC_PORT:-5080}/udp"
      - "${SIP_PUBLIC_PORT:-5080}:${SIP_PUBLIC_PORT:-5080}/tcp"
    #   - "${VERTO_WS_PORT}:${VERTO_WS_PORT}"
    #   - "${VERTO_WSS_PORT}:${VERTO_WSS_PORT}"
    # cap_add:
    #   - SYS_PTRACE
    #   - NET_ADMIN # for iptables to work
    # volumes:
      #  - ./conf/:/usr/local/freeswitch/conf:cached
