SIP_PORT=5060
SIP_TLS_PORT=5061
SIP_PUBLIC_PORT=5080
SIP_PUBLIC_TLS_PORT=5081
VERTO_WS_PORT=8081
VERTO_WSS_PORT=8082
RTP_START=10000
RTP_END=10059
ESL_PORT=8021
EXT_IP=192.168.7.7
FREESWITCH_DOMAIN=free.xswitch.cn
# Comment out in host mode, and set to none in NAT mode
LOCAL_NETWORK_ACL=none
#FREESWITCH_DEFAULT_PASSWORD=1234
#FREESWITCH_EVENT_SOCKET_PASSWORD=1234
